{% extends 'simpletodo/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
	<div class="panel panel-danger">
		<div class="panel-heading"><h2>{{p.title}}</h2> {{p.sol}}</div>
		<div class="panel-body">
			{% autoescape on %}
			{{p.content}}
			{% endautoescape %}
		</div>
		<p class="link-read-post">
			{% if p.is_status != False %}
			<a href="{% url 'update_task' p.id %}" class="color-bt-g">Обновить</a>
			{% endif %}
			<a href="{% url 'delete_task' p.id %}" class="color-bt-r">Удалить</a>
		</p>
	</div>
	{% endfor %}
</ul>
{% endblock %}